{% extends 'index3.html' %}
{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for i in data1 %}
								<tr class="table-body-row">
									<input type="hidden" value="{{i.id}}" class="pid" id="pid">
									<td class="product-remove"><a href="{% url 'deletec' cid=i.id %}"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img src="{{i.productid.photo.url}}" alt=""></td>
									<td class="product-name">{{i.productid.productname}}</td>
									<td class="product-name">{{i.productid.price}}</td>
									<input type="hidden" id="price" value="{{i.productid.price}}">
									<td><input type="number" class="quan" name="quantity" value="{{i.quantity}}" min="1" max="20"></td>
									<td><input type="number" placeholder="Total" value="{{i.total}}"  name="total"></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>{{total.total__sum}}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>0</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>{{total.total__sum}}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="{% url 'check' %}" class="boxed-btn black">Check Out</a>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        $(".quan").on('change',function() {
        // Get the row containing the input
        var row = $(this).closest('tr');
        // var p = $('#price').val();
        var pid = parseInt(row.find(".pid").val());    
        var qty = parseInt(row.find(this).val());
        var price = parseInt(row.find('#price').val());
        // var total =  parseInt(qty)*parseInt(price);
        location.reload(true);
        //  $("#tot_amount").val(total);
                $.ajax({
                        url: "{% url 'cart_update' %}",
                        method: 'post',
                        cache: false,
                        data: {
                            pid: pid,
                            qty: qty,
                            price: price,
                        }
                    });
    
        });
    });  
    </script>
{% endblock %}

