{% extends 'index.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>MART TABLE</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Order details</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>cartid</th>
                    <th>name</th>
                    <th>email</th>
                    <th>mobile</th>
                    <th>address</th>   
                  </tr>
                  </thead>
                  <tbody>
                    {% for i in data %} 
                  <tr>
                    <td> {{i.cartid}}</td>
                    <td> {{i.name}} </td>
                    <td> {{i.email}} </td>
                    <td> {{i.mobile}} </td>
                    <td> {{i.address}} </td>

                    
                    
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
            
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock%}
  <!-- /.content-wrapper -->
